* {
    
    
    width: 500px; 
    margin-left: auto;
    margin-right: auto; 
    font-weight: bold;
   
    
}
#fiel{
    background-image: repeating-linear-gradient(#7f8c8d,#7d7bee);
}
.btn-success{
    background-color: rgb(7, 102, 14);
    max-width: 500px;
    max-height:250px;
    color: white;
    font-size: 12px;
}


